!medium = 14pt
!small = 10pt
!tiny = 7pt

body, input
  :font #{!medium} georgia, serif
  :background #efefef url('/images/bg.jpg') repeat-x

input
  :padding 4px

a:link, a:visited
  :color #3d80b3
a:hover
  :color #2694e8

#page.tasks-index
  :background-color #fff
  :padding 20px
  :margin 10px 20px
  :border solid 1px #ccc
  :box-shadow #ccc 0px 0px 10px
  :-webkit-border-radius 3px
  #status
    :position fixed
    :top 5px
    :background-color #fef49c
    :padding 5px 10px
    :-webkit-border-radius 3px
  li#template
    :display none
  h1, h2, h3
    :margin-bottom 0px
    :color #555
  h1
    :border-bottom solid 1px #ccc
  #date
    :position absolute
    :right 40px
    :font-size = !tiny
  table.tasks
    :width 100%
    td
      :vertical-align top
      :width 33%
      ul
        :list-style none
        :padding 5px 0px
        :margin 0.5em 10px
        li
          :margin 0.4em 0px
          label
            :cursor move
            &.done
              :text-decoration line-through
          form
            :display inline
          a
            :font-size = !small
            :visibility hidden
            :padding 0px 8px
            :background url('/javascripts/jquery-ui/css/custom-theme/images/ui-icons_3d80b3_256x240.png') no-repeat
            &.edit
              :background-position -64px #{-112px - 2px}
            &.destroy
              :background-position -80px #{-128px - 2px}
            &:hover
              :background-image url('/javascripts/jquery-ui/css/custom-theme/images/ui-icons_2694e8_256x240.png')
          &:hover a
            :visibility visible
          &.old
            :color #999
      hr
        :margin 0px
        :border none
        :border-top solid 1px #ccc
        :width 20px
      form.new
        input
          :visibility hidden
          :width 80%
          &:focus
            :visibility visible
        &:hover input
          :visibility visible
